header{
    background-color :aqua;
}
body{
    background-color: blue;
}
main{
    background-color: azure;
}
.img-head{

}


ol{
    font-size: 22px;
}
ul{
    font-size: 28px;
}
.cabecera_inicial{
    font-size: 50px;
}
.descripcion_quien{
 text-align: justify;
 text-overflow: initial;
}
.nombre{
    border: 2px solid black;
    margin-bottom: 50px;
    margin-top: 70px;
    padding-left: 130px;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 100px;
}