body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #212125;
}

.container-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 48px;
}
.a {
    color: white
}
.container-prin{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    align-self: center;
    align-content: center;
    padding: 10%;
    margin: 10%;
}
.box-sec{
    background-color: yellow;
    display: flex;
    flex-wrap: wrap;
    align-content:center;
    height: 100px;
}
.op{ 
    padding: 20%;
}